* {
  box-sizing: border-box;
}

html {
  background-color: hsl(0 0% 17.9%);
}

body {
  width: 20rem;
  max-width: 20rem;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

h1,
h3,
p {
  margin: 0;
}